.card 
{
    height: 20rem;
    flex: 0 0 20rem;
    padding: 1rem;
    color: var(--soft-dark);
    display: flex;
    border-radius: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
}
.card img 
{
  width: 10rem;
  height: 10rem;
}
.card span 
{
  margin-top: 0.5rem;
  font-size: 3rem;
  font-weight: bold;
}

@media screen and (max-width: 600px) 
{
    .card
    {
        height: 70%;
        width: 70%;
    }
}
