:root 
{
    --soft-white: #ffffffde;
    --soft-dark: #242424;
    --purple-start: #800ECD;
    --soft-red: #C4453C;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html, body, #root 
{
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #0a0a0a;
    scrollbar-width: none; 
    -ms-overflow-style: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar,
#root::-webkit-scrollbar 
{
    display: none;
}
